<div class="registro">
    <div class="container">
        <div class="div-img">
            <h1 class="text-start">Registrate</h1>
            <img src="assets/img/logo.png" class="img">
        </div>

        <form [formGroup]="registroform" (ngSubmit)="registro()">
            
            <div class="mt-3">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" class="form-control">
            </div>
            
            <div class="mt-3">
                <label>Apellidos</label>
                <input type="text" formControlName="apellidos" class="form-control">
            </div>
            
            <div class="mt-3">
                <label>Domicilio</label>
                <input type="Text" formControlName="domicilio" class="form-control">
            </div>
            
            <div class="mt-3">
                <label>Correo</label>
                <input type="email" formControlName="correo" class="form-control">
            </div>
            
            <div class="mt-3">
                <label>Contrasenia</label>
                <input type="text" formControlName="contrasenia" class="form-control">
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-primary btn-block" type="submit">Registrate</button>
            </div>
        </form>

    </div>
</div>