.registro{
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container{
    background-color: white;
    width: 50%;
    padding: 15px;
}

.div-img{
    display: grid;
    grid-template-columns: 70% 30%;
}

h1{
    font-size: 35px;
    align-self: center;
}

.img{
    width: 100px;
    justify-self: end;
}

@media(max-width: 768px){
    .container{
        width: 100%;
        height: 100%;
    }
}