<div class="row">
  <div class="col-12 mt-3" *ngFor="let tienda of tiendas">
     <div class="card">
       <div class="card-body">
         <h3>{{ tienda.sucursal }}</h3>

         <div>
           <h5>Productos</h5>
           <div class="productos">
             <div class="row">
               <div class="col-auto" *ngFor="let producto of tienda.Productos">
                 <img class="img-responsive img-thumbnail" src="{{ baseImg + producto.imagen }}" />
                 <h4 class="text-center">{{ producto.nombre }}</h4>
                 <div class="row">
                   <div class="col-6 text-center">
                     {{ producto.precio | currency }}
                   </div>
                   <div class="col-6 text-center">
                     <button class="btn-block btn-primary" (click)="agregarProducto(producto)">
                       <i class="fa fa-plus"></i>
                     </button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>
