.row {
  background: #f5f2f2;
  padding: 15px;
}

.productos{
    max-width: 80vw;
    overflow-x: auto;
    margin: auto;
    padding: 2px;
}

.img-responsive {
  width: 150px;
  height: 150px;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.productos::-webkit-scrollbar {
  -webkit-appearance: none;
}

.productos::-webkit-scrollbar:vertical {
  width: 10px;
}

.productos::-webkit-scrollbar-button:increment, .productos::-webkit-scrollbar-button {
  display: none;
}

.productos::-webkit-scrollbar:horizontal {
  height: 8px;
}

.productos::-webkit-scrollbar-thumb {
  background-color: #FA5C5C;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.productos::-webkit-scrollbar-track {
  border-radius: 10px;
}
