<div class="card">
  <div class="card-body">

    <button class="btn btn-success" (click)="abrirModal()">Agregar Tienda</button>

    <dx-data-grid id="gridContainer"
                  [dataSource]="dataSource"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true"
                  keyExpr="idTienda"
                  (onEditingStart)="actualizarDatos($event)"
                  (onRowRemoved)="eliminarTiendas($event)">
      <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>

      <dxi-column dataField="idTienda" caption="Id" dataType="number"></dxi-column>
      <dxi-column dataField="sucursal" caption="Sucursal" dataType="string"></dxi-column>
      <dxi-column dataField="direccion" caption="Dirección" dataType="string"></dxi-column>

      <dxi-column type="buttons" [width]="110">
        <dxi-button name="edit" hint="Editar"></dxi-button>
        <dxi-button name="delete" hint="Eliminar"></dxi-button>
        <dxi-button hint="Productos"
                    icon="box"
                    [onClick]="agregarArticulos"></dxi-button>
      </dxi-column>

    </dx-data-grid>
  </div>
</div>

<dx-popup [width]="300"
          [height]="280"
          [showTitle]="true"
          title="{{ titleModal }}"
          [dragEnabled]="true"
          [resizeEnabled]="true"
          [hideOnOutsideClick]="true"
          [showCloseButton]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <form [formGroup]="tiendaForm" (ngSubmit)="finalizarFormulario()">
      <div class="mt-3">
        <label for="Sucursal">Sucursal</label>
        <input type="text" class="form-control" formControlName="sucursal" id="Sucursal">
      </div>
      <div class="mt-3">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" formControlName="direccion" id="direccion">
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="tiendaForm.invalid">Guardar</button>
      </div>
    </form>
  </div>
</dx-popup>
