<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/tienda']">
        <img src="assets/img/logo.png" width="60px" />
        Tienda
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/tienda']">Inicio</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin']">
              Tiendas
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tienda/ventas']">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              Mis Compras
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tienda/carrito']">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Carrito
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" (click)="cerrarSesion()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Cerrar sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
