<div class="card">
  <div class="card-body">

    <dx-data-grid id="gridVentas"
                  [dataSource]="dataSource"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true"
                  keyExpr="idVenta">

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>

      <dxi-column dataField="idVenta" caption="Id" dataType="number"></dxi-column>
      <dxi-column dataField="fechaVenta" caption="Fecha_venta" dataType="datetime"></dxi-column>
      <dxi-column dataField="subtotal" caption="Subtotal" dataType="fixedpoint"></dxi-column>
      <dxi-column dataField="total" caption="total" dataType="fixedpoint"></dxi-column>

      <dxi-column type="buttons" [width]="110">
        <dxi-button hint="Productos"
                    icon="box"
                    [onClick]="VerArticulos"></dxi-button>
      </dxi-column>

    </dx-data-grid>
  </div>
</div>

<dx-popup [width]="600"
          [height]="280"
          [showTitle]="true"
          title="Productos de la venta"
          [dragEnabled]="true"
          [resizeEnabled]="true"
          [hideOnOutsideClick]="true"
          [showCloseButton]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-data-grid id="gridProductos"
                  [dataSource]="prodcutosVentas"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true"
                  keyExpr="idVenta">

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>

      <dxi-column dataField="idArticuloNavigation.nombre" caption="Producto" dataType="string"></dxi-column>
      <dxi-column dataField="idArticuloNavigation.idTiendaNavigation.sucursal" caption="Sucursal" dataType="string"></dxi-column>
      <dxi-column dataField="precio" caption="Precio" dataType="fixedpoint"></dxi-column>
      <dxi-column dataField="cantidad" caption="Cantidad" dataType="number"></dxi-column>
      <dxi-column caption="Total" [calculateCellValue]="calculateCellValue"></dxi-column>

    </dx-data-grid>
  </div>
</dx-popup>

