<div class="carrito">
  <div class="row align-items-center" *ngFor="let producto of productos; let i = index">
    <div class="col-4">
      <img src="{{ producto.imagen }}" />
    </div>
    <div class="col-6">
      <h3>{{ producto.nombre }}</h3>
      <span>{{ producto.precio | currency }}</span>
      <br />
      <div class="div-bottones">
        <button class="btn bnt-light" (click)="eliminarProductoCantidad(producto)">
          <i class="fa fa-minus"></i>
        </button>
        <div class="div-cantidad">
          {{ producto.cantidad }}
        </div>
        <button class="btn bnt-light" (click)="agregarProductos(producto)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="col-2 text-end">
      <button class="btn btn-danger" (click)="eliminarProductos(i)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>

  <div class="mt-3">
    <h2>Total: {{ total | currency }}</h2>
  </div>

  <div class="mt-3">
    <button class="btn btn-success" (click)="guardarVenta()">Guardar Venta</button>
  </div>
</div>

