<div class="card">
  <div class="card-body">

    <button class="btn btn-success" (click)="abrirModal()">Agregar Tienda</button>

    <dx-data-grid id="gridContainer"
                  [dataSource]="dataSource"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true"
                  keyExpr="idArticulos"
                  (onEditingStart)="actualizarDatos($event)"
                  (onRowRemoved)="eliminarTiendas($event)">
      <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>

      <dxi-column dataField="codigo" caption="Id" dataType="number"></dxi-column>
      <dxi-column dataField="nombre" caption="Sucursal" dataType="string"></dxi-column>
      <dxi-column dataField="descripcion" caption="Dirección" dataType="string"></dxi-column>
      <dxi-column dataField="precio" caption="Dirección" dataType="string"></dxi-column>
      <dxi-column dataField="stock" caption="Dirección" dataType="string"></dxi-column>

    </dx-data-grid>
  </div>
</div>

<dx-popup [width]="350"
          [height]="450"
          [showTitle]="true"
          title="{{ titleModal }}"
          [dragEnabled]="true"
          [resizeEnabled]="true"
          [hideOnOutsideClick]="true"
          [showCloseButton]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <div class="scroll">
      <form [formGroup]="articulosForm" (ngSubmit)="finalizarFormulario()">
        <div class="mt-3">
          <label for="codigo">Código</label>
          <input type="text" class="form-control" formControlName="codigo" id="codigo">
        </div>
        <div class="mt-3">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" id="nombre">
        </div>
        <div class="mt-3">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" formControlName="descripcion" id="descripcion">
        </div>
        <div class="mt-3">
          <label for="precio">Precio</label>
          <input type="number" step="0.01" class="form-control" formControlName="precio" id="precio">
        </div>
        <div class="mt-3">
          <label for="stock">Stock</label>
          <input type="number" class="form-control" formControlName="stock" id="stock">
        </div>

        <div class="mt-3">
          <label for="image">Imagen</label>
          <input type="file" class="form-control" (change)="subirImagen($event)" id="image" accept="image/png, image/jpeg, image/jpg">
        </div>

        <div class="mt-3">
          <img src="{{ image_mostrar }}" width="250px" alt="">
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="articulosForm.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</dx-popup>
