<div class="login">
    <div class="container">
        <div class="div-img">
            <h1 class="text-start">Bienvenido</h1>
            <img src="assets/img/logo.png" class="img">
        </div>

        <form [formGroup]="loginform" (ngSubmit)="login()">
            <div class="mt-3">
                <label>Correo</label>
                <input type="email" formControlName="user" class="form-control">
            </div>
            <div class="mt-3">
                <label>Contraseña</label>
                <div class="input-group mb-3">
                    <input type="{{ type }}" formControlName="password" class="form-control">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-primary" (click)="changeInput()">
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary btn-block" type="submit">Iniciar sesión</button>
            </div>
        </form>

        <div class="mt-3">
            <a routerLink="/registro" class="btn btn-light btn-block">Registrate</a>
        </div>
    </div>
</div>